<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OAR - Index</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/custom.css">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: right">
            <div><img src="../static/resources/briefcase.png" style="width: 16px;height: 16px"> Manager Márton </div>
            <div><a href="/login_manager">Kijelentkezés</a> </div>
        </div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col-md-3">
            <input type="checkbox" class="checkbox checkbox-inline" value="filter_active"><span style="padding-left: 5px">Csak aktív orvosok</span>
        </div>
        <div class="col-md-6">
            <input type="text" class="input-sm" style="width: 100%">
        </div>
        <div class="col-md-3">
            <input type="button" class="btn btn-default btn-sm" value="Új orvos">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td>Azonosító</td>
                    <td>Név</td>
                    <td>Telefon</td>
                    <td>Cím</td>
                    <td>Szakterület</td>
                    <td>Előfizetés kezdete</td>
                    <td>Előfizetés vége</td>
                    <td>Előfizetői kategória</td>
                </tr>
                <tr>

                </tr>
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/jquery.1.11.3.js"></script>
<script src="../static/js/bootstrap.js"></script>

</body>
</html>