<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OAR - New Doctor</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/custom.css">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: right">
            <div><img src="../static/resources/briefcase.png" style="width: 16px;height: 16px"> Manager Márton </div>
        </div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <td>Azonosító</td>
                    <td><input type="text" class="input" disabled id="docID" value="DR32132131"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Név</td>
                    <td><input type="text" </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cím</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Előfizetés kezdete</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Előfizetés vége</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/jquery.1.11.3.js"></script>
<script src="../static/js/bootstrap.js"></script>

</body>
</html>