<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OAR - Prices</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/custom.css">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-2" id="left_area"></div>
        <div class="col-md-8" id="center_area">
            <div class="row" style="padding-top: 4%">
                <div class="col-md-12" style="text-align: center">
                    <h1>Árlista</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <h5>Utolsó módosítás: 2015.01.31.</h5>
                </div>
            </div>
            <div class="row" style="padding-top: 4%">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                Előfizetés
                            </th>
                            <th>
                                Kategória
                            </th>
                            <th>
                                Éves megtakarítás [Ft]
                            </th>
                            <th>
                                Havidíj [Ft/hó]
                            </th>
                        </tr>
                        <tr>
                            <td>24 havi</td>
                            <td>A</td>
                            <td>108 000</td>
                            <td>15 000</td>
                        </tr>
                        <tr>
                            <td>12 havi</td>
                            <td>B</td>
                            <td>96 000</td>
                            <td>16 000</td>
                        </tr>
                        <tr>
                            <td>6 havi</td>
                            <td>C</td>
                            <td>72 000</td>
                            <td>18 000</td>
                        </tr>
                        <tr>
                            <td>3 havi</td>
                            <td>D</td>
                            <td>24 000</td>
                            <td>22 000</td>
                        </tr>
                        <tr>
                            <td>1 havi</td>
                            <td>E</td>
                            <td>0</td>
                            <td>24 000</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2" id="right_area"></div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/jquery.1.11.3.js"></script>
<script src="../static/js/bootstrap.js"></script>

</body>
</html>