<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OAR - Support</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/custom.css">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-2" id="left_area"></div>
        <div class="col-md-8" id="center_area">
            <div class="row" style="padding-top: 4%">
                <div class="col-md-12" style="text-align: center">
                    <h1>Ügyfélszolgálat</h1>
                </div>
            </div>
            <div class="row" style="padding-top: 4%">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Elfelejtett azonosító/jelszó</b></h3>
                        </div>
                        <div class="panel-body">
                            Kérjük hívja a +3612/445-6677 díjmentesen hívható telefonszámot hétköznaponként 10-12 között, ahol kollégáink szívélyesen állnak rendelkezésére.
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Páciens azonosítóval való visszaélés</b></h3>
                        </div>
                        <div class="panel-body">
                            Kérjük hívja a +3612/445-6677 díjmentesen hívható telefonszámot hétköznaponként 10-12 között, ahol kollégáink szívélyesen állnak rendelkezésére.
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Megváltozott telefonszám</b></h3>
                        </div>
                        <div class="panel-body">
                            Kérjük hívja a +3612/445-6677 díjmentesen hívható telefonszámot hétköznaponként 10-12 között, ahol kollégáink szívélyesen állnak rendelkezésére.
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Orvos adatok módosítása</b></h3>
                        </div>
                        <div class="panel-body">
                            Bejelentkezés után jobb felső sraokban felhasználónévre kattinta lehetséges.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" id="right_area"></div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/jquery.1.11.3.js"></script>
<script src="../static/js/bootstrap.js"></script>

</body>
</html>